#parent {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 100vh;
}


#child {
background-color: #123;
padding: 10px;
border-radius: 5px;
color: white;
text-align: center;
}

label {
margin: 0 !important;
padding: 0 !important;
}

input {
padding: 10px;
}

button{
padding: 10px;
border-radius: 10px;
background-color: white;
border: white;
outline: none;
cursor: pointer;
}